<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cisco Ramon's Website Powered by Django">
    <meta name="author" content="Cisco Ramon">

    <title>Cisco Ramon's Website</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!-- <link href="album.css" rel="stylesheet"> -->
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Cisco Ramon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="{% url 'posts' %}">Blog</a>
            <a class="nav-item nav-link" href="{% static 'resume.pdf' %}">Resume</a>
            <a class="nav-item nav-link" href="https://twitter.com/vibecisco">Twitter</a>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class="container">
        <h1 class="text-center pt-5">Welcome to Cisco's Blog</h1>
        <br />
        <br />
        <h2>Latest Posts</h2>
        <hr />
        {% for post in posts.all %}
        <a href="{%  url 'post' post.id %}"><h2 class="h4">{{ post.title }}</h2></a>
        <span><i>{{ post.pretty_pub_date }}</i></span>
        <br />
        <img class="img-fluid" src="{{ post.image.url }}" width="180" />
        <br />
        <p>{{ post.summary }}</p>
        {% endfor %}
      </div>
    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <br />
        <p><b>MAY THE SPEED FORCE BE WITH YOU</b></p>
        <p>No meta-humans allowed</p>
        <p>Copyright Cisco Ramon {% now "Y" %} ©</p>
        <br />
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
